@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE:wght@100..800&display=swap');

body{
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.nav-pills .nav-link.active {  
  background-color: #58bbf5; /* Cambia esto al color que desees */  
  color: #fff; /* Color del texto cuando está activo */  
}  
.nav-link{
  transition: all 0.2s;
}
/* Estilo para el enlace enlazado */  
.nav-pills .nav-link:hover {  
 font-size: 17px;
  font-weight: 600;
}  

nav{
  box-shadow: 2px 2px 5px rgba(68, 65, 65, 0.3);
}

.home{
display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #58bbf5;
  height: 90vh;
  left: 0;
}
.foto{
  width: 20vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.info{
  width: 50vw;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}